@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Anupam's website</h1>
    <p>To Learn more about <a href="https://www.brainwareuniversity.ac.in/">Brainware University</a> please click here.</p>
</div>
